<div class="text-center">
  <h1>My Tasks</h1>

  <% @tasks.each do |task| %>
  <h2><%= link_to task.title, "tasks/#{task.id}"%></h2>
  <p><%= form_for task do |f|%>
    <div class="form-group">
      <%= f.label :completed, "Done?" %>
      <%= f.check_box :completed%>
    </div>
    <div class="btn btn-success"> <%= f.submit 'Update Task', :class => "update_task_button"%></div>
    <% end %>
  </p>
  <% end %>

  <div class="btn create_task"> <%= link_to "Create a new task", "tasks/new" %></div>
</div>



